@use "../../../styles/variables.sass" as *
.searchbar
  height: 100%
  background: white
  border-radius: 5px
  width: 750px
  overflow: hidden
  &__inner
    display: flex
    justify-content: space-between
    position: relative
    height: inherit
    z-index: 100
    width: 100%

  &__modal
    position: absolute
    top: 120px
    width: 750px
    height: 100px
    z-index: 100
    background: white
    border-radius: 0 0 5px 5px
  &-active
    border-radius: 5px 5px 0 0
  &__input
    width: 100%
    padding-left: 15px
    border: none
    box-shadow: none
    &::placeholder
      color: $secondary-text-color
    &-active
      outline: none

  &__search-button
    position: absolute
    right: 5px
    top: 52%
    transform: translateY(-50%)

