@use "src/styles/variables.sass" as *
.topheader
  height: 33px
  &__inner
    height: 100%
    display: flex
    justify-content: space-between
    margin-right: 12.5%
    margin-left: 12.5%
  &__nav
    display: flex
    gap: 24px
    align-items: center
    &-delivery
      color: $secondary-text-color


