@use "src/styles/variables.sass" as *
.bottomheader
  background: $primary-color
  color: #FFFFFF
  height: 86px
  &__inner
    padding-bottom: 18px
    padding-top: 18px
    display: flex
    justify-content: space-between
    margin-right: 10%
    margin-left: 10%
    height: 100%
    align-items: center
  &__menu
    background: none
    border: none
  &__nav
    display: flex
    gap: 36px
    a
      color: #FFFFFF
    &-link
      display: flex
      flex-direction: column
      align-items: center
      &:first-child
        margin-left: 36px
  &__logo
    width: 130px
    height: auto
    &-wrapper
      height: 100%
      display: flex
      align-items: center

